<!-- LOGIN FORM -->
<h1>Register as a Speaker for PyConAR 2020</h1>
<form action="/register" method="POST">
    <div class="row">
        <div class="col-md-1">Name :</div>
        <div class="col-md-1"><input type="text" name="name"></div>
    </div>

    <div class="row">
        <div class="col-md-1">Last name :</div>
        <div class="col-md-1"><input type="text" name="last_name"></div>
    </div>

    <div class="row">
        <div class="col-md-1">Country :</div>
        <div class="col-md-1"><input type="text" name="country"></div>
    </div>

    <div class="row">
        <div class="col-md-1">Email :</div>
        <div class="col-md-1"><input type="text" name="email"></div>
    </div>

    <input type="submit" value="Submit">
</form>